* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #212121;
  --medium-grey: #383838;
  --light-grey: #d1d1d1d1;
  --lime-green: #3df730;
}

body {
  background-color: var(--dark-grey);
}

.app {
  text-align: center;
}

.plot {
  margin: 2%;
}
